<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav class="navbar bg-dark">
      <h1 style="color: ghostwhite;">Edit Recipe</h1>
      <a type="submit" class="btn btn-outline-primary" href="/recipe">Home</a>
      <a type="submit" class="btn btn-outline-primary" href="/recipe/<%=recipe.id%>">Back To Recipe</a>
    </nav>
    <div class="container mt-3">
      <form action="/recipe/<%=recipe.id%>?_method=PUT" method="POST">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" value="<%=recipe.title%>" class="form-control">
          <label>Ingredients</label>
          <textarea name="ingredient" rows="8" cols="80" class="form-control"><%=recipe.ingredient%></textarea>
          <label>Directions</label>
          <textarea name="process" rows="8" cols="80" class="form-control"><%=recipe.process%></textarea>
          <label>Image</label>
          <input type="text" name="img" value="<%=recipe.img%>" class="form-control">
          <label>Cook Time (min)</label>
          <input type="number" name="time" value="<%=recipe.time%>" class="form-control">
          <label>Type</label>
          <input type="text" name="type" value="<%=recipe.type%>" class="form-control">
          <input type="submit" value="Edit Recipe" class="btn btn-outline-primary mt-3">
        </div>
      </div>
    </form>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
