<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Edit <%=recipe.title%></h1>
    <a href="/recipe">Back To Home Page</a>
    <a href="/recipe/<%=recipe.id%>">Back To <%=recipe.title%></a>
    <form action="/recipe/<%=recipe.id%>?_method=PUT" method="POST">
      Title: <input type="text" name="title" value="<%=recipe.title%>"><br/>
      Ingredients: <textarea name="ingredient" rows="8" cols="80"><%=recipe.ingredient%></textarea><br/>
      Process: <textarea name="process" rows="8" cols="80"><%=recipe.process%></textarea><br/>
      Image: <input type="text" name="img" class="new-img" value="<%=recipe.img%>"><br/>
      Cook Time (min): <input type="number" name="time" value="<%=recipe.time%>"><br/>
      Type: <input type="text" name="type" value="<%=recipe.type%>">
      <input type="submit" value="Edit Recipe">
    </form>
  </body>
</html>
