<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <div class="header">
      <h1>Recipe Page</h1>
      <a href="/recipe">Back To Home Page</a>
      <button type="button" name="button">
        <a href="/recipe/<%=recipe.id%>/edit">Edit</a>
      </button>
      <form class="" action="/recipe/<%=recipe.id%>?_method=DELETE" method="post">
        <input type="submit" name="delete" value="Delete">
      </form>
    </div>
    <div class="body">
      <h2>Recipe: <%=recipe.title%></h2>
      <h2>Type: <%=recipe.type%></h2>
      <h2>Cook Time: <%=recipe.time%>min</h2>
      <img src="<%=recipe.img%>" alt="<%=recipe.title%>">
    </div>
  </body>
</html>
