<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav class="navbar bg-dark">
      <h5 style="color: ghostwhite"> Instructions </h5>
      <a href="/recipe">Back To Home Page</a>
      <button type="button" name="button" class="btn btn-outline-secondary">
        <a href="/recipe/<%=recipe.id%>/edit">Edit</a>
      </button>
      <form class="" action="/recipe/<%=recipe.id%>?_method=DELETE" method="post">
        <input type="submit" name="delete" value="Delete" class="btn btn-danger">
      </form>
    </nav>
    <div class="container mt-3">
      <h5>Type: <%=recipe.type%></h5>
      <h5>Cook Time: <%=recipe.time%>min</h5>
      <img src="<%=recipe.img%>" alt="<%=recipe.title%>" class="rounded mx-auto d-block img-thumbnail">
      <!-- <p><%=recipe.ingredient%></p>
      <p><%=recipe.process%></p> -->
      <div class="accordion mt-3" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Ingredients
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%=recipe.ingredient%>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Directions
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <%=recipe.process%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
